
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Unbounded&display=swap');


/* ps:// co the thay ten cua cac file , sau do sua lai link hinh anh , ten san pham va gia theo project tong  */

/* cai thong so co ban cho trang  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  transition: 0.3s all ease-in-out;
}
html::-webkit-scrollbar {
  width: 0.6rem;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 0.5rem;
}
/* cho nay la css cua hieu ung load trangs */
.loading{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: all 1s ease-in-out;
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.loading img {
  width: 100px;
  height: 100px;
}
.loading p {
  font-size: 1rem;
  color: #e99e13;
}

/* chinh hieu ung hover cho hinh anh  */
img{
  position: relative;
  transition: all .5s ease-in-out;
}
img:hover{
  top: -0.1rem;
  box-shadow: .5rem .2rem .5rem #9c7055;
}

.text-white{
  color: white;
}

/* set phan thuong hieu the coffe house + heart */
.brand{
  background-color: #9c7055;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.brand a{
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px #919191,
  1px 2px 1px #919191,
  1px 3px 1px #919191,
  1px 4px 1px #919191,
  1px 5px 1px #919191,
  1px 6px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}
.brand a:hover{
  color:rgb(245, 173, 117) ;
}

/* //chinh kich thuc cho navbar */

.navbar {
  font-size: 1.5rem;
}
.navbar-brand{
  font-size: 2rem !important;
}

/* phan nay la phan hien thi cua san pham  */

.product_title{
  font-family: 'Island Moments', cursive;

  font-size: 5rem;
  font-weight: bold;
  
}
.card{
  margin: 1rem;
  border-radius: 10px;
  position: relative;
  box-shadow: .1em .1em 0 hsl(200 50% 30%) !important;
}

button:hover{
  background-color: #c07140 !important;
  border: none;
}

/* //phan nay la phan bieu thi thong so  */

.counter-box {
display: block;
background: #f6f6f6;
padding: 40px 20px 37px;
text-align: center
}

.counter-box p {
margin: 5px 0 0;
padding: 0;
color: #909090;
font-size: 18px;
font-weight: 500
}

.counter-box i {
font-size: 60px;
margin: 0 0 15px;
color: #d2d2d2
}

.counter { 
display: block;
font-size: 32px;
font-weight: 700;
color: #666;
line-height: 28px
}



.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
color: #fff
}

#cold-coffee{
  background: linear-gradient(#f09935ec, #d860e7);
  color: #c07140;
}
#cold-coffee .product_title{
  color:white;
}


/* phan nay dug de chinh kich co cho phuf hop voi man hinh dien thoai */
@media only screen and (max-width: 600px) {
  .brand{
    font-size: 2rem;
    height: 12vh;
  }
}