
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Unbounded&display=swap');


/* ps:// co the thay ten cua cac file , sau do sua lai link hinh anh , ten san pham va gia theo project tong  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  transition: 0.3s all ease-in-out;
}
html::-webkit-scrollbar {
  width: 0.6rem;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 0.5rem;
}

.text-white{
  color: white;
}

.brand{
  background-color: #9c7055;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}
.brand a{
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px #919191,
  1px 2px 1px #919191,
  1px 3px 1px #919191,
  1px 4px 1px #919191,
  1px 5px 1px #919191,
  1px 6px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}
.brand a:hover{
  color:rgb(245, 173, 117) ;
}
.navbar {
  font-size: 1.5rem;
}
.navbar-brand{
  font-size: 2rem !important;
}

.product_title{
  font-family: 'Island Moments', cursive;

  font-size: 5rem;
  font-weight: bold;
  
}
.card{
  margin: 1rem;
  border-radius: 10px;
  position: relative;
  box-shadow: .1em .1em 0 hsl(200 50% 30%) !important;
}


#cold-coffee{
  background-color: #9c7055;
}



/* phan nay dug de chinh kich co cho phuf hop voi man hinh dien thoai */
@media only screen and (max-width: 600px) {
  .brand{
    font-size: 2rem;
  }
}